/* ===== Inter Font (100 to 900) ===== */
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #475467;
  background-color: #ffffff;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  margin-right: calc(-0.666666 * var(--bs-gutter-x));
  margin-left: calc(-0.666666 * var(--bs-gutter-x));
}

.row>* {
  padding-right: calc(var(--bs-gutter-x) * 0.666666);
  padding-left: calc(var(--bs-gutter-x) * 0.666666);
}

.property-page {
  padding-bottom: 32px;

  .breadcrumb-with-rating-section {
    gap: 32px;
    margin-bottom: 16px;
  }

  .title-with-breadcrumb {
    .breadcrumb {
      margin: 12px 0 8px;

      .breadcrumb-list {
        display: flex;
        align-items: center;
        gap: 8px;
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .breadcrumb-item {
        font-size: 14px;
        color: #717680;
        font-weight: 600;

        a {
          color: #717680;
          text-decoration: none;
          transition: all 0.3s ease;

          &:hover {
            color: #475467;
          }
        }

        &.active {
          color: #026AA2;
          pointer-events: none;
        }
      }

      .breadcrumb-separator {
        display: flex;
        align-items: center;

        &:last-child {
          width: 20px;
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    .property-title {
      font-size: 36px;
      letter-spacing: -0.72px;
      color: #101828;
      font-weight: 500;
      margin-bottom: 8px;

      .highlight-text {
        color: #36BFFA;
      }
    }

    .property-description {
      margin: 0px;
    }
  }

  .review-companies-box {
    gap: 20px;
  }



  .property-card-list {
    .property-list-image {
      display: flex;
      flex-direction: column;

      .carousel {
        border-radius: 16px 16px 0 0;

        .carousel-item {
          transition: all 0.3s ease;

          .slider-image {
            height: 400px;
            min-height: 400px;
            max-height: 400px;
            border-radius: 16px 16px 0 0;
            object-fit: cover;
            transition: all 0.3s ease;
          }

          &:hover {
            transform: scale(1.05);
          }
        }
      }

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background: url("./../assets/images/slider-arrow-icon.svg");
        background-size: 100%;
        width: 36px;
        height: 36px;
      }

      .carousel-control-prev,
      .carousel-control-next {
        width: 36px;
        height: 36px;
        top: 50%;
        transform: translate(0%, -50%);
        left: 16px;
        opacity: 1;
      }

      .carousel-control-next {
        left: auto;
        right: 16px;
        transform: translate(0%, -50%) rotate(180deg);
      }

      .carousel-indicators {
        bottom: 0;
        gap: 12px;
        background: #FFFFFFE5;
        backdrop-filter: blur(8px);
        border-radius: 100px;
        width: fit-content;
        margin: 0 auto 16px auto;
        padding: 8px;

        button {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #E9EAEB;
          margin: 0px;
          border: none;
          transition: all 0.3s ease;

          &:hover,
          &.active {
            background: #0086C9;
          }
        }
      }

      .property-loaction-detail {
        padding: 12px 32px;
        background: #36BFFA;
        border-top: 1px solid #FFFFFF4D;
        backdrop-filter: blur(24px);
        border-radius: 0 0 16px 16px;

        .property-loaction-title-rating {
          gap: 15px;
          justify-content: space-between;

          .property-loaction-title {
            font-size: 36px;
            color: #fff;
            letter-spacing: -0.72px;
            font-weight: 600;
            margin-bottom: 8px;
          }
        }

        .review-rating-star {
          gap: 4px;
        }

        .property-loaction-with-price {
          gap: 15px;
          justify-content: space-between;

          .property-loaction-des {
            font-size: 18px;
            color: #FFF;
            margin: 0;
            font-weight: 600;
            line-height: 28px;
          }
        }

        .property-loaction-price {
          font-size: 48px;
          color: #fff;
          font-weight: 700;
          letter-spacing: -0.96px;
          margin: 0px;

          .loaction-price-month {
            font-size: 36px;
            letter-spacing: -0.72px;
          }
        }
      }
    }

    .property-list-content {
      height: -webkit-fill-available;

      .location-features {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .when-we-say-content {
        margin-bottom: 12px;

        b {
          font-weight: 600;
        }
      }

      .feature-list {
        margin: 0px;

        li {
          display: flex;
          gap: 12px;
          align-items: center;
          font-size: 18px;
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }

      .price-text {
        font-size: 20px;
        margin: 56px 0 auto 0;

        strong {
          font-weight: 700;
          color: #0086C9;

        }
      }

      .select-location-btn {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        padding: 16px 15px;
        background: #36BFFA;
        border: 1px solid #36BFFA;
        box-shadow: 0px 1px 2px 0px #1018280D;
        border-radius: 8px;
        margin-top: 56px;
        transition: all 0.3s ease;

        &:hover {
          background: #fff;
          color: #36BFFA;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}


@media (max-width : 991.55px) {
  .property-page {
    .breadcrumb-with-rating-section {
      gap: 24px;
    }

    .title-with-breadcrumb {
      .property-title {
        font-size: 32px;
      }
    }

    .property-card-list {
      .property-list-image {
        .carousel {
          .carousel-item {
            .slider-image {
              height: 360px;
              min-height: 360;
              max-height: 360;
            }
          }
        }

        .property-loaction-detail {
          .property-loaction-title-rating {
            .property-loaction-title {
              font-size: 32px;
            }

          }

          .property-loaction-with-price {
            .property-loaction-price {
              font-size: 44px;

              .loaction-price-month {
                font-size: 32px;
              }
            }
          }
        }
      }

      .property-list-content {
        padding-top: 32px;

        .price-text {
          margin: 32px 0 auto;
        }

        .select-location-btn {
          margin-top: 32px;
        }
      }
    }
  }
}

@media (max-width: 767.55px) {
  body {
    font-size: 12px;
  }

  .property-page {
    padding-bottom: 15px;

    .breadcrumb-with-rating-section {
      flex-direction: column;
      gap: 8px;
      margin-bottom: 8px;
    }

    .title-with-breadcrumb {
      .breadcrumb {
        margin: 8px 0;

        .breadcrumb-list {
          gap: 6px;
        }
      }

      .property-title {
        font-size: 20px;
        letter-spacing: 0px;
      }
    }

    .review-companies-box {
      gap: 12px;
      margin: 4px 0 4px auto;

      .review-companies-action {
        img {
          height: 24px;
          width: auto;
        }
      }
    }

    .property-card-list {
      .property-list-image {
        flex-direction: row;

        .carousel {
          border-radius: 16px 0px 0 16px;
          width: 150px;

          .carousel-item {

            .slider-image {
              height: 214px;
              min-height: 214px;
              max-height: 2140px;
              border-radius: 16px 0px 0 16px;
            }
          }
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
          width: 24px;
          height: 24px;
        }

        .carousel-control-prev,
        .carousel-control-next {
          width: 24px;
          height: 24px;
          left: 8px;
        }

        .carousel-control-next {
          left: auto;
          right: 8px;
          transform: translate(0%, -50%) rotate(180deg);
        }

        .carousel-indicators {
          bottom: 0;
          gap: 12px;
          background: #FFFFFFE5;
          backdrop-filter: blur(8px);
          border-radius: 100px;
          width: fit-content;
          margin: 0 auto 16px auto;
          padding: 8px;

          button {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #E9EAEB;
            margin: 0px;
            border: none;
            transition: all 0.3s ease;

            &:hover,
            &.active {
              background: #0086C9;
            }
          }
        }

        .property-loaction-detail {
          padding: 12px;
          border-radius: 0 16px 16px 0px;
          width: calc(100% - 150px);
          display: flex;
          flex-direction: column;

          .property-loaction-title-rating {
            .property-loaction-title {
              font-size: 14px;
              letter-spacing: 0px;
              margin-bottom: 12px;
            }

            .review-rating-star {
              display: none !important;
            }
          }

          .review-rating-star {
            gap: 1.6px;

            img {
              width: 8px;
              height: 8px;
            }
          }

          .property-loaction-with-price {
            flex-direction: column;

            .property-loaction-des {
              font-size: 12px;
              line-height: 18px;
              font-weight: 400;

              br {
                display: none;
              }
            }

            .property-loaction-price {
              display: none;
            }
          }

          .property-loaction-price {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0px;

            .loaction-price-month {
              font-size: 20px;
              letter-spacing: 0px;
            }
          }

          .mobile-price-with-rating {
            padding-top: 12px;
            margin-top: auto;

            .mobile-price-review {
              display: flex;
              gap: 8px;
              justify-content: space-between;
            }
          }

          .property-loaction-mbile-btn {
            margin-top: 8px;
            padding: 6.7px 15px;
            border: 1px solid #D5D7DA;
            font-size: 14px;
            font-weight: 600;
            border-radius: 8px;
            box-shadow: 0px 1px 2px 0px #0A0D120D;
            background: #fff;
            width: 100%;
            transition: all 0.3s ease;

            &:hover {
              color: #36bffa;
            }
          }
        }
      }

      .property-list-content {
        padding-top: 8px;

        .when-we-say-content {
          font-size: 16px;
        }

        .location-features {
          display: flex;
          flex-direction: column;
        }

        .feature-list {
          margin: 8px 0px;

          li {
            align-items: center;
            font-size: 16px;
            margin-bottom: 8px;

            img {
              width: 24px;
              height: 24px;
            }
          }

          .mobile-see-all-btn {
            display: flex;
            align-items: center;
            font-size: 16px;
            gap: 12px;

            img {
              width: 24px;
              height: 24px;
            }
          }
        }

        .price-text {
          font-size: 20px;
          margin: 24px 0 auto 0;
          display: none;

          strong {
            font-weight: 700;
            color: #0086C9;

          }
        }

        .select-location-btn {
          font-size: 18px;
          color: #fff;
          font-weight: 600;
          padding: 16px 15px;
          background: #36BFFA;
          border: 1px solid #36BFFA;
          box-shadow: 0px 1px 2px 0px #1018280D;
          border-radius: 8px;
          margin-top: 32px;
          transition: all 0.3s ease;
          display: none;

          &:hover {
            background: #fff;
            color: #36BFFA;
          }
        }
      }
    }
  }
}