/* ===== Inter Font (100 to 900) ===== */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #475467;
  background-color: #ffffff;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  margin-right: calc(-0.666666 * var(--bs-gutter-x));
  margin-left: calc(-0.666666 * var(--bs-gutter-x));
}

.row > * {
  padding-right: calc(var(--bs-gutter-x) * 0.666666);
  padding-left: calc(var(--bs-gutter-x) * 0.666666);
}

.property-page {
  padding-bottom: 32px;
}
.property-page .breadcrumb-with-rating-section {
  gap: 32px;
  margin-bottom: 16px;
}
.property-page .title-with-breadcrumb .breadcrumb {
  margin: 12px 0 8px;
}
.property-page .title-with-breadcrumb .breadcrumb .breadcrumb-list {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.property-page .title-with-breadcrumb .breadcrumb .breadcrumb-item {
  font-size: 14px;
  color: #717680;
  font-weight: 600;
}
.property-page .title-with-breadcrumb .breadcrumb .breadcrumb-item a {
  color: #717680;
  text-decoration: none;
  transition: all 0.3s ease;
}
.property-page .title-with-breadcrumb .breadcrumb .breadcrumb-item a:hover {
  color: #475467;
}
.property-page .title-with-breadcrumb .breadcrumb .breadcrumb-item.active {
  color: #026AA2;
  pointer-events: none;
}
.property-page .title-with-breadcrumb .breadcrumb .breadcrumb-separator {
  display: flex;
  align-items: center;
}
.property-page .title-with-breadcrumb .breadcrumb .breadcrumb-separator:last-child {
  width: 20px;
}
.property-page .title-with-breadcrumb .breadcrumb .breadcrumb-separator svg {
  width: 16px;
  height: 16px;
}
.property-page .title-with-breadcrumb .property-title {
  font-size: 36px;
  letter-spacing: -0.72px;
  color: #101828;
  font-weight: 500;
  margin-bottom: 8px;
}
.property-page .title-with-breadcrumb .property-title .highlight-text {
  color: #36BFFA;
}
.property-page .title-with-breadcrumb .property-description {
  margin: 0px;
}
.property-page .review-companies-box {
  gap: 20px;
}
.property-page .property-card-list .property-list-image {
  display: flex;
  flex-direction: column;
}
.property-page .property-card-list .property-list-image .carousel {
  border-radius: 16px 16px 0 0;
}
.property-page .property-card-list .property-list-image .carousel .carousel-item {
  transition: all 0.3s ease;
}
.property-page .property-card-list .property-list-image .carousel .carousel-item .slider-image {
  height: 400px;
  min-height: 400px;
  max-height: 400px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
  transition: all 0.3s ease;
}
.property-page .property-card-list .property-list-image .carousel .carousel-item:hover {
  transform: scale(1.05);
}
.property-page .property-card-list .property-list-image .carousel-control-prev-icon,
.property-page .property-card-list .property-list-image .carousel-control-next-icon {
  background: url("./../assets/images/slider-arrow-icon.svg");
  background-size: 100%;
  width: 36px;
  height: 36px;
}
.property-page .property-card-list .property-list-image .carousel-control-prev,
.property-page .property-card-list .property-list-image .carousel-control-next {
  width: 36px;
  height: 36px;
  top: 50%;
  transform: translate(0%, -50%);
  left: 16px;
  opacity: 1;
}
.property-page .property-card-list .property-list-image .carousel-control-next {
  left: auto;
  right: 16px;
  transform: translate(0%, -50%) rotate(180deg);
}
.property-page .property-card-list .property-list-image .carousel-indicators {
  bottom: 0;
  gap: 12px;
  background: rgba(255, 255, 255, 0.8980392157);
  backdrop-filter: blur(8px);
  border-radius: 100px;
  width: fit-content;
  margin: 0 auto 16px auto;
  padding: 8px;
}
.property-page .property-card-list .property-list-image .carousel-indicators button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #E9EAEB;
  margin: 0px;
  border: none;
  transition: all 0.3s ease;
}
.property-page .property-card-list .property-list-image .carousel-indicators button:hover, .property-page .property-card-list .property-list-image .carousel-indicators button.active {
  background: #0086C9;
}
.property-page .property-card-list .property-list-image .property-loaction-detail {
  padding: 12px 32px;
  background: #36BFFA;
  border-top: 1px solid rgba(255, 255, 255, 0.3019607843);
  backdrop-filter: blur(24px);
  border-radius: 0 0 16px 16px;
}
.property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-title-rating {
  gap: 15px;
  justify-content: space-between;
}
.property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-title-rating .property-loaction-title {
  font-size: 36px;
  color: #fff;
  letter-spacing: -0.72px;
  font-weight: 600;
  margin-bottom: 8px;
}
.property-page .property-card-list .property-list-image .property-loaction-detail .review-rating-star {
  gap: 4px;
}
.property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-with-price {
  gap: 15px;
  justify-content: space-between;
}
.property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-with-price .property-loaction-des {
  font-size: 18px;
  color: #FFF;
  margin: 0;
  font-weight: 600;
  line-height: 28px;
}
.property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-price {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.96px;
  margin: 0px;
}
.property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-price .loaction-price-month {
  font-size: 36px;
  letter-spacing: -0.72px;
}
.property-page .property-card-list .property-list-content {
  height: -webkit-fill-available;
}
.property-page .property-card-list .property-list-content .location-features {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.property-page .property-card-list .property-list-content .when-we-say-content {
  margin-bottom: 12px;
}
.property-page .property-card-list .property-list-content .when-we-say-content b {
  font-weight: 600;
}
.property-page .property-card-list .property-list-content .feature-list {
  margin: 0px;
}
.property-page .property-card-list .property-list-content .feature-list li {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 18px;
  margin-bottom: 12px;
}
.property-page .property-card-list .property-list-content .feature-list li:last-child {
  margin-bottom: 0px;
}
.property-page .property-card-list .property-list-content .price-text {
  font-size: 20px;
  margin: 56px 0 auto 0;
}
.property-page .property-card-list .property-list-content .price-text strong {
  font-weight: 700;
  color: #0086C9;
}
.property-page .property-card-list .property-list-content .select-location-btn {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  padding: 16px 15px;
  background: #36BFFA;
  border: 1px solid #36BFFA;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.0509803922);
  border-radius: 8px;
  margin-top: 56px;
  transition: all 0.3s ease;
}
.property-page .property-card-list .property-list-content .select-location-btn:hover {
  background: #fff;
  color: #36BFFA;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}
@media (max-width: 991.55px) {
  .property-page .breadcrumb-with-rating-section {
    gap: 24px;
  }
  .property-page .title-with-breadcrumb .property-title {
    font-size: 32px;
  }
  .property-page .property-card-list .property-list-image .carousel .carousel-item .slider-image {
    height: 360px;
    min-height: 360;
    max-height: 360;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-title-rating .property-loaction-title {
    font-size: 32px;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-with-price .property-loaction-price {
    font-size: 44px;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-with-price .property-loaction-price .loaction-price-month {
    font-size: 32px;
  }
  .property-page .property-card-list .property-list-content {
    padding-top: 32px;
  }
  .property-page .property-card-list .property-list-content .price-text {
    margin: 32px 0 auto;
  }
  .property-page .property-card-list .property-list-content .select-location-btn {
    margin-top: 32px;
  }
}
@media (max-width: 767.55px) {
  body {
    font-size: 12px;
  }
  .property-page {
    padding-bottom: 15px;
  }
  .property-page .breadcrumb-with-rating-section {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
  }
  .property-page .title-with-breadcrumb .breadcrumb {
    margin: 8px 0;
  }
  .property-page .title-with-breadcrumb .breadcrumb .breadcrumb-list {
    gap: 6px;
  }
  .property-page .title-with-breadcrumb .property-title {
    font-size: 20px;
    letter-spacing: 0px;
  }
  .property-page .review-companies-box {
    gap: 12px;
    margin: 4px 0 4px auto;
  }
  .property-page .review-companies-box .review-companies-action img {
    height: 24px;
    width: auto;
  }
  .property-page .property-card-list .property-list-image {
    flex-direction: row;
  }
  .property-page .property-card-list .property-list-image .carousel {
    border-radius: 16px 0px 0 16px;
    width: 150px;
  }
  .property-page .property-card-list .property-list-image .carousel .carousel-item .slider-image {
    height: 214px;
    min-height: 214px;
    max-height: 2140px;
    border-radius: 16px 0px 0 16px;
  }
  .property-page .property-card-list .property-list-image .carousel-control-prev-icon,
  .property-page .property-card-list .property-list-image .carousel-control-next-icon {
    width: 24px;
    height: 24px;
  }
  .property-page .property-card-list .property-list-image .carousel-control-prev,
  .property-page .property-card-list .property-list-image .carousel-control-next {
    width: 24px;
    height: 24px;
    left: 8px;
  }
  .property-page .property-card-list .property-list-image .carousel-control-next {
    left: auto;
    right: 8px;
    transform: translate(0%, -50%) rotate(180deg);
  }
  .property-page .property-card-list .property-list-image .carousel-indicators {
    bottom: 0;
    gap: 12px;
    background: rgba(255, 255, 255, 0.8980392157);
    backdrop-filter: blur(8px);
    border-radius: 100px;
    width: fit-content;
    margin: 0 auto 16px auto;
    padding: 8px;
  }
  .property-page .property-card-list .property-list-image .carousel-indicators button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #E9EAEB;
    margin: 0px;
    border: none;
    transition: all 0.3s ease;
  }
  .property-page .property-card-list .property-list-image .carousel-indicators button:hover, .property-page .property-card-list .property-list-image .carousel-indicators button.active {
    background: #0086C9;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail {
    padding: 12px;
    border-radius: 0 16px 16px 0px;
    width: calc(100% - 150px);
    display: flex;
    flex-direction: column;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-title-rating .property-loaction-title {
    font-size: 14px;
    letter-spacing: 0px;
    margin-bottom: 12px;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-title-rating .review-rating-star {
    display: none !important;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .review-rating-star {
    gap: 1.6px;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .review-rating-star img {
    width: 8px;
    height: 8px;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-with-price {
    flex-direction: column;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-with-price .property-loaction-des {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-with-price .property-loaction-des br {
    display: none;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-with-price .property-loaction-price {
    display: none;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-price {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-price .loaction-price-month {
    font-size: 20px;
    letter-spacing: 0px;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .mobile-price-with-rating {
    padding-top: 12px;
    margin-top: auto;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .mobile-price-with-rating .mobile-price-review {
    display: flex;
    gap: 8px;
    justify-content: space-between;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-mbile-btn {
    margin-top: 8px;
    padding: 6.7px 15px;
    border: 1px solid #D5D7DA;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.0509803922);
    background: #fff;
    width: 100%;
    transition: all 0.3s ease;
  }
  .property-page .property-card-list .property-list-image .property-loaction-detail .property-loaction-mbile-btn:hover {
    color: #36bffa;
  }
  .property-page .property-card-list .property-list-content {
    padding-top: 8px;
  }
  .property-page .property-card-list .property-list-content .when-we-say-content {
    font-size: 16px;
  }
  .property-page .property-card-list .property-list-content .location-features {
    display: flex;
    flex-direction: column;
  }
  .property-page .property-card-list .property-list-content .feature-list {
    margin: 8px 0px;
  }
  .property-page .property-card-list .property-list-content .feature-list li {
    align-items: center;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .property-page .property-card-list .property-list-content .feature-list li img {
    width: 24px;
    height: 24px;
  }
  .property-page .property-card-list .property-list-content .feature-list .mobile-see-all-btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 12px;
  }
  .property-page .property-card-list .property-list-content .feature-list .mobile-see-all-btn img {
    width: 24px;
    height: 24px;
  }
  .property-page .property-card-list .property-list-content .price-text {
    font-size: 20px;
    margin: 24px 0 auto 0;
    display: none;
  }
  .property-page .property-card-list .property-list-content .price-text strong {
    font-weight: 700;
    color: #0086C9;
  }
  .property-page .property-card-list .property-list-content .select-location-btn {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 16px 15px;
    background: #36BFFA;
    border: 1px solid #36BFFA;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.0509803922);
    border-radius: 8px;
    margin-top: 32px;
    transition: all 0.3s ease;
    display: none;
  }
  .property-page .property-card-list .property-list-content .select-location-btn:hover {
    background: #fff;
    color: #36BFFA;
  }
}

/*# sourceMappingURL=globals.css.map */
